<div class="tableview" [@tableview]="tableview">
    <button class="table-slider"  matTooltip="Table" (click)="toggleTableView()"> <i *ngIf="!tableview"
            class="fa fa-angle-down f-s-24"></i> <i *ngIf="tableview" class="fa fa-angle-up f-s-24"></i>
        <div class="f-s-15 f-w-400">Table View <i class="fa fa-table f-s-14" aria-hidden="true"></i></div>
    </button>
    <div *ngIf="!fetched_locations?.data" style="z-index:1200!important" > <mat-spinner style="z-index:1200!important;position: absolute!important;top:20%;left:49%" diameter="45" ></mat-spinner></div>
    <div  class="flex-column w-100">
        <div  class="d-flex align-center j-space m-t-5">
            <div class="d-flex  m-l-10 align-center">
                <mat-form-field class="m-l-10 m-r-10" >
                    <mat-label class="f-s-15">Object</mat-label>
                    <mat-select [(value)]="selectedTableObject" disableOptionCentering panelClass="myPanelClass">
                      <mat-option [ngClass]="option.value===selectedTableObject ?  'mat-option-selected-value': ''" [value]="option.value" *ngFor="let option of tableObjects">{{ option.viewValue }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <!-- <mat-form-field class="m-l-10">
                    <mat-label class="f-s-15">Mode</mat-label>
                    <mat-select [(value)]="selectedTableMode" disableOptionCentering panelClass="myPanelClass">
                      <mat-option [ngClass]="option.value===selectedTableMode ?  'mat-option-selected-value': ''" [value]="option.value" *ngFor="let option of tableModes">{{ option.viewValue }}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <div  class="p-relative m-l-20 m-r-10 d-flex align-baseline c-pointer"  matTooltip="Actions" [matMenuTriggerFor]="menu">
                    <img  src="assets/thunderbolt.png" width="22px" height="22px" alt="" class="hover-round round p-5">
                    <div *ngIf="selection.selected.length>0 && selection?.selected" class="round actions-btn f-s-11 f-w-500">{{selection.selected.length}}</div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [disabled]="selection.selected.length<=0" (click)="logSelection()">
                          <span >Add to Route</span>
                        </button>
                        <button mat-menu-item [disabled]="selection.selected.length<=0" (click)="selection.clear()">
                          <span >Clear Selection</span>
                        </button>
                      </mat-menu>
                  </div>
                  <!-- <div class="hover-round round d-flex align-center j-center m-r-10 p-5 " style="width:22px;height:22px">
                    <i  class="fa fa-cog f-s-18 c-gr "></i>
                  </div> -->
                  <div *ngIf="isFilterActive"><img class="c-pointer" src="assets/clear-filter.png" width="22px" height="22px" alt="" srcset="" (click)="clearAllFilters()" matTooltip="Clear all filters"></div>
            </div>
            <mat-paginator #paginator [pageSizeOptions]="[10, 20,40]"  class="pgntr" showFirstLastButtons [pageIndex]="pgIndex" (page)='onChangedPage($event)'
            aria-label="Select page of Locations List" style="width: 50%!important;">
            </mat-paginator>
        </div>
       
        <div class="mat-tbl" style="width:100vw!important">
            <div #matTab  *ngIf="displayedColumns.length>0">
                <mat-table matSort [dataSource]="dataSource" class="mat-table m-b-5 w-100"  style="overflow-x:scroll!important">
                <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col" >
                    <!-- <ng-container *ngIf="col=='op'">
                        <mat-header-cell *matHeaderCellDef>
                           
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <i class="fa fa-ellipsis-v f-s-18  c-gr-light p-5"></i>
                        </mat-cell>
                    </ng-container> -->
                    
                    <ng-container *ngIf="col=='select'">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-14 d-flex" style="align-items: flex-start!important;vertical-align: top!important;">
                            <mat-checkbox (change)="masterToggle($event)"
                                [checked]="selection.selected.length===paginator.pageSize" 
                                >
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectaRow(row,$event) : null"
                                [checked]="selection.isSelected(row)" >
                            </mat-checkbox>
                        </mat-cell>

                    </ng-container>   
                    <ng-container *ngIf="col=='Location_Name'">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-14 d-flex flex-column c-dark"  style="justify-content:flex-start!important;align-items:flex-start!important">
                           <div class="t-a-left d-flex "> Location Name</div>
                            <mat-form-field *ngIf="col == 'Location_Name'" style="height:45px!important;width: 100%!important;">
                                <input matInput (keyup)="applyFilter($event,col)" placeholder="Filter..."   #filterName>
                              </mat-form-field> 
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="p-relative" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; "  [matTooltipPosition]="position.value!" matTooltip={{element[col]}}>
                            {{ element[col] }}
                        </mat-cell>

                    </ng-container>   
                                         
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-14 flex-column align-start  c-dark"> <div>{{ col | removeunderscore | titlecase }}</div> 
                        <mat-form-field *ngIf="col=='Route'" style="height:45px!important;width: 100%!important;">
                        <input matInput (keyup)="applyFilter($event,col)" placeholder="Filter..."   #filterRouteName>
                      </mat-form-field> 
                        <mat-form-field *ngIf="col=='Address_Line_1'" style="height:45px!important;width: 100%!important;">
                        <input matInput (keyup)="applyFilter($event,col)" placeholder="Filter..."   #filterAddress>
                      </mat-form-field> 
                        <mat-form-field *ngIf="col=='On_Route'" style="height:45px!important;width: 100%!important;">
                        <mat-select #filterOnRoute>
                          <mat-option *ngFor="let item of OnRouteOptions" [value]="item" (click)="applyFilter(item,col)">
                            {{item}}
                          </mat-option>

                        </mat-select>
                      </mat-form-field> 
                        
                        <!-- <mat-form-field *ngIf="col!='Route_Name' && col!='op' && col!='Address' && col!='Name'" style="height:45px!important;width: 100%!important;">
                        <mat-select></mat-select>
                      </mat-form-field>  -->
                    </mat-header-cell>
                    
                    <mat-cell *matCellDef="let element" class="p-relative" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; "  [matTooltipPosition]="position.value!" matTooltip={{element[col]}}> {{ element[col] }} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"  ></mat-row>
            </mat-table>

            </div>
        </div>
        
    </div>

</div>
