<div class="container" style="overflow:hidden!important">
    <div id="map" style="height: 100vh;width: calc(100vw);z-index: 10;overflow: hidden;"></div>
    <div *ngIf="initialLoader" style="z-index:1200!important">
        <mat-spinner style="z-index:1000!important;position: absolute!important;top:50%;left:49%" diameter="45">
        </mat-spinner>
    </div>

    <div class="searchArea d-flex align-center p-5 ">
        <!-- <i class="fa fa-bars f-s-22 m-l-10 " aria-hidden="true"></i> -->
        <input type="text" ngx-google-places-autocomplete [options]="options" (onAddressChange)="AddressChange($event)"
            placeholder="Search for Name or Address" class="f-s-16 w-100" #sarea>
        <!-- <img class="p-6 c-pointer" width="24px" height="24px" src="assets/current_loc.png" alt=""
            title="Set Current Location as Start Location">

        <div class="d-flex align-center " title="Map properties">
            <img src="assets/map-prop1.png" class="p-6 c-pointer m-l-10" width="30px" height="26px" alt="" srcset="">
            <i class="fa fa-angle-down  f-s-18 c-gr m-t-4 p-4"></i>
        </div>
        <div class="d-flex align-center " title="Isochrone">
            <img src="assets/hexagon.png" class="p-6 m-t-3 c-pointer m-l-10" width="29px" height="28px" alt=""
                srcset="">
            <i class="fa fa-angle-down  f-s-18 c-gr m-t-4 p-4"></i>
        </div>
        <div class="d-flex align-center " title="Locations History">
            <img src="assets/svgs/route.svg" class="p-6 m-t-3 c-pointer m-l-10" width="29px" height="28px" alt=""
                srcset="">
            <i class="fa fa-angle-down  f-s-18 c-gr m-t-4 p-4"></i>
        </div> -->
        <i *ngIf="sarea.value!=''" class="fa fa-times f-s-15 c-gr-light m-r-10 c-pointer"
            (click)="clearSearchArea()"></i>

    </div>

    <app-routeview [origin]="origin" [destination]="destination" [fetched_locations]="fetched_locations" [map]="map" (addClusters)="makeClusters()" (clearClusters)="clearCluster()">
    </app-routeview>

    <app-tableview [fetched_locations]="fetched_locations" [origin]="origin" [destination]="destination"
        [displayedColumns]="displayedColumns"></app-tableview>


</div>