<div class="navigation p-r-0 p-t-5 " [@navigation]="navigation">
    <button class="slide-btn" title="Routes" (click)="navigationDrawer()"> <i *ngIf="!navigation"
            class="fa fa-angle-right"></i> <i *ngIf="navigation" class="fa fa-angle-left"></i>
        <i class="fa fa-route f-s-24"></i>
    </button>
    <div *ngIf="showRoutes" class="right-content flex-column ">
        <div class="d-flex align-center ">
            <div class="f-s-16 f-w-500 p-10 p-l-0 flex-2 align-baseline d-flex"><span class="m-r-10">Route</span>

                <div class="p-relative m-l-5 m-r-20 d-flex align-baseline c-pointer" title="Actions"
                    [matMenuTriggerFor]="routebuildmenu">
                    <i class="fa fa-angle-down f-w-600" aria-hidden="true"></i>
                </div>
                <mat-menu #routebuildmenu="matMenu">
                    <button mat-menu-item [disabled]="selectedLocations.length<=0" (click)="deleteAllWaypoints()">
                        <span>Clear Route</span>
                    </button>
                    <button mat-menu-item [disabled]="selectedLocations.length<=0" (click)="editRoute()">
                        <span>Edit Route</span>
                    </button>
                </mat-menu>
            </div>

            <div class="primary-color f-s-14 flex-3 t-a-right d-flex flex-end j-end m-r-20 add_loc_link c-pointer">
                <div><img class="p-6" src="assets/csv.png" title="Export as CSV" width="22px" height="22px" alt=""
                        srcset=""></div>
                <div>
                    <!-- <img class="p-6" width="20px" height="20px" src="assets/star.png" alt=""
                        title="Favourite Locations"> -->

                    <img title="Add a point to the Route" class="p-6" width="20px" height="20px" src="assets/edit.png"
                        alt="" (click)="editRoute()" title="Edit Route">
                </div>

            </div>
            <!-- <i class="fa fa-ellipsis-v f-s-18 dot m-r-30 p-10"></i> -->

            <!-- <img *ngIf="!pinSideMenu" (click)="pinSideMenu=!pinSideMenu" src="assets/svgs/thumbtack.svg"
                class="m-r-10 primary-color c-pointer p-5" width="18px" height="18px" alt="" srcset="">
            <img *ngIf="pinSideMenu" (click)="pinSideMenu=!pinSideMenu" src="assets/svgs/thumbtack-solid.svg"
                class="m-r-10 primary-color c-pointer p-5" width="18px" height="18px" alt="" srcset=""> -->
        </div>
        <p class="f-s-13 p-l-10 d-flex m-0 m-b-5">Travel Mode : Driving : fastest (optimal order of route)</p>
        <p class="f-s-13 p-l-10 d-flex m-0 m-b-10">
            {{secondsToDhms((result?.routes[0]?.legs[result?.routes[0]?.legs.length -1]?.cummulative +
            result?.routes[0]?.legs[result?.routes[0]?.legs.length -1].duration.value).toFixed(2))}},
            ({{(totalDistance*1.6).toFixed(2)}} km)</p>
        <div class="f-s-14  m-b-10" *ngFor="let leg of result?.routes[0]?.legs;let i=index">

            <div class="p-r-10 f-w-500 d-flex j-space align-center flex-wrap gap-5">
                <div *ngIf="i==0" class="d-flex align-center m-r-10">
                    <i class="fa fa-home f-s-22 m-r-10 flex-1"></i>
                    <div [style.width]="'calc(100% - ' + 18 + 'px)'">{{leg?.start_address}}</div>
                </div>
                <div *ngIf="i!=0" class="d-flex m-r-10">
                    <div class="location-number f-s-10 f-w-400  m-r-5 p-2" #ln>{{i}}</div>
                    <div [style.width]="'calc(100% - ' + 18 + 'px)'">{{leg?.start_address}}</div>
                </div>
                <!-- <i class="fa fa-ellipsis-h f-s-18 dot m-r-30 p-10"></i> -->
            </div>

            <div class="p-r-10 f-w-400 d-flex j-space align-center flex-wrap c-gr w-90 p-t-5 ">
                {{leg?.start_address}}
            </div>
            <div *ngIf=" i!=0" class="d-flex gap-2 align-center p-t-10 p-b-5">
                <img src="assets/log-in.png" width="24px" height="22px" alt="" srcset="">
                <div>{{addbyMoment(leg?.cummulativeWithNoInterval)}} </div>
                <div class="c-gr d-flex align-center"><img src="assets/hourglass.png" width="26px" height="19px" alt=""
                        srcset="">
                    <div>00:30</div>
                </div>
                <img src="assets/log-out.png" width="24px" height="22px" alt="" srcset="">
                <div>{{ addbyMoment(leg?.cummulative)}}</div>
            </div>
            <!-- <div *ngIf="i==shortestRte?.legs?.length-1" class="d-flex gap-2 align-center">
                <img src="assets/log-in.png" width="24px" height="22px" alt="" srcset=""> 
                <div>{{addbyMoment(leg?.cummulativeWithNoInterval)}} </div>
            </div> -->
            <div *ngIf="i==0" class="d-flex align-center gap-2 p-t-10 p-b-5"><img src="assets/log-out.png" width="24px"
                    height="22px" alt="" srcset="">
                <div>{{ displayTime}}</div>
            </div>
            <hr class="hor-line" />
            <div class="f-s-12 f-w-400 m-b-5 m-t-10 sub-head d-flex align-center w-100 flex-1 j-end ">
                <div class="d-flex m-r-20">
                    <div class="c-gr p-r-5">{{leg?.distance?.text}}&middot; {{leg.duration?.text}}</div>
                </div>
            </div>
            <div *ngIf="i==shortestRte?.legs?.length-1"
                class="p-r-10 f-w-500 d-flex j-space align-center flex-wrap gap-5 p-10 p-l-0">
                <div class="d-flex align-center">
                    <i class="fa fa-flag-checkered m-r-10 f-s-22"></i>
                    <div [style.width]="'calc(100% - ' + 18 + 'px)'">{{leg?.end_address}}</div>
                </div>

                <!-- <i class="fa fa-ellipsis-h f-s-18 dot m-r-30 p-10"></i> -->
            </div>
            <div *ngIf="i==shortestRte?.legs?.length-1"
                class="p-r-10 f-w-400 d-flex j-space align-center flex-wrap c-gr p-b-10">{{leg.end_address}} </div>
            <div *ngIf="i==shortestRte?.legs?.length-1" class="d-flex align-center gap-2 m-b-10"><img
                    src="assets/log-in.png" width="24px" height="22px" alt="" srcset="">
                <div>{{addbyMoment(leg?.cummulative + leg.duration.value)}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="!showRoutes" class="right-content flex-column  ">
        <div class="d-flex align-center ">
            <div class="f-s-16 f-w-500 p-10 flex-3 align-baseline d-flex"><span class="m-r-10">Route</span>

                <div class="p-relative m-l-5 m-r-20 d-flex align-baseline c-pointer" title="Actions"
                    [matMenuTriggerFor]="routemenu">
                    <i class="fa fa-angle-down f-w-600" aria-hidden="true"></i>
                </div>
                <mat-menu #routemenu="matMenu">
                    <button mat-menu-item [disabled]="selectedLocations.length<=0" (click)="deleteAllWaypoints()">
                        <span>Clear All</span>
                    </button>
                </mat-menu>
            </div>

            <!-- <div class="primary-color f-s-14 flex-2 t-a-right flex-end j-end m-r-20 add_loc_link c-pointer"
                title="Add a point to the Route">
                <div>+ Add a Point</div>
            </div> -->

            <!-- <div  class="p-relative m-l-5 m-r-20 d-flex align-baseline c-pointer" title="Actions" [matMenuTriggerFor]="routemenu">
                <i class="fa fa-ellipsis-v f-s-18 dot primary-color  "></i>
                <mat-menu #routemenu="matMenu">
                    <button mat-menu-item [disabled]="selectedLocations.length<=0" (click)="deleteAllWaypoints()">
                      <span >Clear All</span>
                    </button>
                    <button mat-menu-item disabled>
                      <span>Edit</span>
                    </button>
                  </mat-menu>
              </div> -->
            <!-- <img *ngIf="!pinSideMenu" (click)="pinSideMenu=!pinSideMenu" src="assets/svgs/thumbtack.svg"
                class="m-r-10 primary-color c-pointer p-5 m-t-6" width="18px" height="18px" alt="" srcset="">
            <img *ngIf="pinSideMenu" (click)="pinSideMenu=!pinSideMenu" src="assets/svgs/thumbtack-solid.svg"
                class="m-r-10 primary-color c-pointer p-5 m-t-6" width="18px" height="18px" alt="" srcset=""> -->
        </div>

        <div class="d-flex align-baseline gap-2 w-100 j-center">
            <i class="fa fa-chevron-left f-s-13 p-2 m-r-5   c-pointer primary-color" aria-hidden="true"
                (click)="leftDateClick()"></i>
            <span class="f-w-500 c-pointer primary-color f-s-16" (click)="picker1.open()">{{displayDate | date:
                'dd/MM/YY'}}</span>
            <span class="c-gr f-w-500 f-s-14 ">Departing</span>
            <span class="f-w-500 c-pointer primary-color f-s-16" (click)="timepicker.open()">{{displayTime}}</span>
            <i class="fa fa-chevron-right f-s-13 p-2 m-l-5  c-pointer primary-color" aria-hidden="true"
                (click)="rightDateClick()"></i>
        </div>

        <div class="calendar-parent" style="position:relative">
            <input matInput [matDatepicker]="picker1" (dateChange)="dateChange($event)">
            <mat-datepicker #picker1></mat-datepicker>
            <input matInput [ngxTimepicker]="timepicker">
            <ngx-material-timepicker #timepicker (timeSet)="onTimeset($event)"></ngx-material-timepicker>
        </div>

        <div class="p-r-10 f-w-500 d-flex j-space align-center flex-wrap gap-5 bg-gr border-light p-t-10 p-b-10">
            <div class="d-flex align-center p-l-10">
                <i class="fa fa-home f-s-22 m-r-10 flex-1"></i>
                <div [style.width]="'calc(100% - ' + 18 + 'px)'" class="flex-column">
                    <!-- <div class="d-flex gap-5 align-center">
                        <img class="p-6 c-pointer" [ngClass]="isHomesetasCurrent ? 'selected': ''" width="20px" height="20px" src="assets/current_loc.png" alt="" title="Set Current Location as Home Location" (click)="setHomeasCurrentLoc()" >
                        <img class="p-6 c-pointer " [ngClass]="isHomesetasDefault ? 'selected': ''" width="20px" height="20px" src="assets/home2.png" alt="" title="Home Location">
                        <img class="p-6 c-pointer" [ngClass]="isHomesetasFavourite ? 'selected': ''" width="20px" height="20px"  src="assets/star.png" alt="" title="Favourite Locations">
                        <img class="p-6 c-pointer" [ngClass]="isHomesetasEditedLocation ? 'selected': ''"  width="20px" height="20px"  src="assets/edit.png" alt="" title="Enter Home Location Manually">
                    </div> -->
                    <div class="p-t-5 p-b-5" *ngIf="origin">{{this.origin?.Address_Line_1}}</div>
                </div>
            </div>

        </div>

        <p *ngIf="selectedLocations?.length<=0" class="c-gr d-flex j-center m-t-30 m-b-30 f-s-15">No Points in the Route
        </p>

        <div class="f-s-14 p-b-10 " *ngFor="let loc of selectedLocations;let i=index;">
            <div class="p-r-10 f-w-500 d-flex  align-center flex-wrap gap-5 p-l-10">
                <div class="d-flex flex-1">
                    <div class="flex-column">
                        <div class="location-number f-s-10 f-w-400  m-r-5 p-2" #ln>{{i}}</div>
                        <div class="d-flex dot-container c-pointer align-center p-6 p-t-0">
                            <i class="fa fa-ellipsis-v f-s-12 dot  "></i>
                            <i class="fa fa-ellipsis-v f-s-12 dot "></i>
                        </div>
                    </div>
                    <div class="flex-column flex-1 ">
                        <div>{{loc?.Location_Name}}</div>
                        <div class=" f-w-400 f-s-12 d-flex j-space align-center flex-wrap c-gr w-90 p-t-5">
                            {{loc?.Address_Line_1}}</div>
                    </div>
                </div>
                <div class="d-flex j-end flex-end align-center m-r-10">
                    <i class="fa fa-times f-s-15 c-pointer c-gr-light" title="Remove location"
                        (click)="deleteWaypoint(loc)"></i>
                </div>
            </div>
        </div>

        <div
            class="p-r-10 f-w-500 d-flex j-space align-center flex-wrap gap-5 p-10 p-l-10 bg-gr border-light p-t-10 p-b-10">
            <div class="d-flex align-center p-l-10">
                <i class="fa fa-flag-checkered m-r-10 f-s-22"></i>
                <div [style.width]="'calc(100% - ' + 18 + 'px)'" class="flex-column">
                    <!-- <div class="d-flex gap-5 align-center">
                        <img class="p-6 c-pointer" [ngClass]="isEndsetasCurrent ? 'selected': ''" width="20px" height="20px" src="assets/current_loc.png" alt="" title="Set Current Location as End Location" (click)="setEndasCurrentLoc()" >
                        <i class="fa fa-flag-checkered  f-s-20 p-6  primary-color" [ngClass]="isEndsetasDefault ? 'selected': ''" title="End Location"></i>
                        <img class="p-6 c-pointer" [ngClass]="isEndsetasFavourite ? 'selected': ''" width="20px" height="20px"  src="assets/star.png" alt="" title="Favourite Locations">
                        <img class="p-6 c-pointer" [ngClass]="isEndsetasEditedLocation ? 'selected': ''"  width="20px" height="20px"  src="assets/edit.png" alt="" title="Enter End Location Manually">
                    </div> -->
                    <div class="p-t-5 p-b-5">{{this.destination?.Address_Line_1}}</div>
                </div>
            </div>
        </div>
        <div class="example-button-row j-center align-center d-flex w-100 m-t-10"><button mat-raised-button
                (click)="buildRoute()" class="w-80 m-b-20  f-s-14" color="primary">BUILD ROUTE</button>
        </div>
    </div>
</div>